<html>
    <head>
        <title>Autonomous Vehicle Anomaly Detection Model Comparate System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>*{margin-left: 10px; margin-right: 10px;}</style>
    </head>
    <body>
        
            <h1>Autonomous Vehicle Anomaly Detection Model Development Platform</h1>
            <h3>---Federated-Meta-Learning Approach</h3>
       
        <br>
    

            <ul>
                <li><a href="upload">Model Upload Module</a></li>
                <li><a href="leaderboard_choose">Ranking-board </a></li> 
                <li><a href = "/">Refresh</a></li>
 
            </ul>

            <a>
                
            </a>
    
            <footer>
                <p>Copyright © NTHU WMNET Lab(Wireless and Mobile Networking Laboratory) . All Rights Reserved.<p>
            </footer>
        </main>
        

    </body>
</html>