<html>
    <head>
        <title>Upload Model</title>
        <meta http-equiv="refresh" content="5;url= leaderboard_choose">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>*{margin-left: 10px; margin-right: 10px;}</style>
    </head>
    <body>
        <h3>Model uploaded successfully</h3>
        <a>Your model score will show on leaderboard when training completed.

        <a>Move to Leaderboard in 5 seconds...</a>
    </body>
</html>